**/*.vcxproj.user
**/*.VC.db
**/*.VC.opendb
**/*.suo
**/CMakeCache.txt
**/CMakeFiles
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/Release
**/Debug
**/*.deb
**/*.aps
.vs
.vscode
bin
obj
ipch
build
CPack*
_CPack*
src/3rdparty/bin
src/3rdparty/obj
src/contrib
src/core/obj
src/plugins/oggdecoder/obj
src/plugins/waveout/obj
src/plugins/taglib_plugin/obj
src/plugins/taglib_plugin/taglib-1.11
src/musikbox/musikbox
src/musikcube/musikcube
libwebm-prefix
taglib-prefix
