**/*.vcxproj.user
**/*.VC.db
**/*.VC.opendb
**/*.suo
**/CMakeCache.txt
**/CMakeFiles
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/Release
**/Debug
**/*.deb
**/*.aps
**/.DS_Store
**/obj32
**/obj64
.vs
.vscode
dist
bin
bin32
bin64
ipch
build
CPack*
_CPack*
musikcube.core
src/3rdparty/bin
src/3rdparty/obj
src/contrib
src/core/obj
src/plugins/oggdecoder/obj
src/plugins/server/libmicrohttpd-prefix
src/plugins/server/microhttpd
src/plugins/waveout/obj
src/plugins/taglib_plugin/obj
src/plugins/taglib_plugin/taglib-1.11/stage/
src/musikbox/musikbox
src/musikcube/musikcube
src/musikcubed/musikcubed
taglib-prefix
