**/*.vcxproj.user
**/*.VC.db
**/*.VC.opendb
**/*.suo
**/CMakeCache.txt
**/CMakeFiles
**/Makefile
**/cmake_install.cmake
.vs
.vscode
bin
obj
ipch
build
src/3rdparty/bin
src/3rdparty/obj
src/core/obj
src/square/obj
src/contrib/oggdecoder/obj
src/contrib/waveout/obj
src/contrib/taglib_plugin/obj
src/contrib/taglib_plugin/taglib-1.11
taglib-prefix
