[Desktop Entry]
Version=1.0
Type=Application
Name=musikcube
GenericName=musikcube
Comment=terminal-based music player
Comment[ru]=консольный аудиоплеер
Exec=musikcube.app %U
TryExec=/snap/bin/musikcube.app
Icon=${SNAP}/usr/share/icons/hicolor/128x128/apps/musikcube.png
Terminal=true
Categories=AudioVideo;Player;Audio;
StartupNotify=false
StartupWMClass=musikcube
