<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.casey.musikcube.remote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".Application"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />

        <activity
            android:name=".ui.home.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.albums.activity.AlbumBrowseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeNoActionBar" />

        <activity android:name=".ui.browse.activity.BrowseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeNoActionBar"/>

        <activity android:name=".ui.category.activity.CategoryBrowseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeNoActionBar" />

        <activity android:name=".ui.download.activity.TrackDownloadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeNoActionBar" />

        <activity android:name=".ui.settings.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".ui.settings.activity.DiagnosticsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".ui.playqueue.activity.PlayQueueActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeNoActionBar" />

        <activity android:name=".ui.tracks.activity.TrackListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeNoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>

        <activity android:name=".ui.tracks.activity.EditPlaylistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeNoActionBar" />

        <activity android:name=".ui.settings.activity.RemoteSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.settings.activity.RemoteEqActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.category.activity.AllCategoriesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name=".ui.settings.activity.ConnectionsActivity"
            android:label="@string/connections_title"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeNoActionBar" />

        <service
            android:name="io.casey.musikcube.remote.service.system.SystemService"
            android:exported="false">
            <intent-filter>
                <action android:name="io.casey.musikcube.remote.WAKE_UP" />
                <action android:name="io.casey.musikcube.remote.SHUT_DOWN" />
                <action android:name="io.casey.musikcube.remote.SLEEP" />
            </intent-filter>
        </service>

        <receiver android:name="io.casey.musikcube.remote.service.system.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>